In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("G:/DataSets/SalesData.csv")

In [3]:
df.dtypes

S.No.               int64
Order Date         object
Order Quantity      int64
Sales             float64
dtype: object

In [4]:
df['Order Date'] = pd.to_datetime(df['Order Date'])
df.dtypes

S.No.                      int64
Order Date        datetime64[ns]
Order Quantity             int64
Sales                    float64
dtype: object

In [5]:
df['Order Date'].head()

0   2010-10-13
1   2012-10-01
2   2012-10-01
3   2011-07-10
4   2010-08-28
Name: Order Date, dtype: datetime64[ns]

In [6]:
df['Quarter'] = df['Order Date'].apply(lambda x: x.quarter)
df['Year'] = df['Order Date'].apply(lambda x: x.year)
df['Month'] = df['Order Date'].apply(lambda x: x.month)
df['Week'] = df['Order Date'].apply(lambda x: x.week)
df['Day'] = df['Order Date'].apply(lambda x: x.day)

In [7]:
df.head()

,S.No.,Order Date,Order Quantity,Sales,Quarter,Year,Month,Week,Day
0,1,2010-10-13,6,261.5400,4,2010,10,41,13
1,2,2012-10-01,49,10123.0200,4,2012,10,40,1
2,3,2012-10-01,27,244.5700,4,2012,10,40,1
3,4,2011-07-10,30,4965.7595,3,2011,7,27,10
4,5,2010-08-28,19,394.2700,3,2010,8,34,28

In [8]:
df.dtypes

S.No.                      int64
Order Date        datetime64[ns]
Order Quantity             int64
Sales                    float64
Quarter                    int64
Year                       int64
Month                      int64
Week                       int64
Day                        int64
dtype: object

In [9]:
len(df)

8399

In [10]:
DimOrderDate = df[['Order Date', 'Year', 'Quarter', 'Month', 'Week', 'Day']]
DimOrderDate.head()

  Order Date  Year  Quarter  Month  Week  Day
0 2010-10-13  2010        4     10    41   13
1 2012-10-01  2012        4     10    40    1
2 2012-10-01  2012        4     10    40    1
3 2011-07-10  2011        3      7    27   10
4 2010-08-28  2010        3      8    34   28

In [11]:
df['Order Date'].nunique()

1418

In [12]:
DimOrderDate = df[['Order Date']]
DimOrderDate.head()

  Order Date
0 2010-10-13
1 2012-10-01
2 2012-10-01
3 2011-07-10
4 2010-08-28

In [13]:
DimorderDate = DimOrderDate.drop_duplicates()
len(DimorderDate)

1418

In [14]:
DimorderDate.head()

  Order Date
0 2010-10-13
1 2012-10-01
3 2011-07-10
4 2010-08-28
6 2011-06-17

In [15]:
DimOrderDate = DimOrderDate.sort_values(by='Order Date')
DimOrderDate.head()

     Order Date
3142 2009-01-01
4376 2009-01-01
7055 2009-01-02
7056 2009-01-02
7057 2009-01-02

In [16]:
Rw = DimOrderDate.shape[0]  #len(DimOrderDate)
Rw
DimOrderDate.insert(0, 'OrderDateKey', range(1, 1 +Rw))

In [17]:
DimOrderDate.head()

      OrderDateKey Order Date
3142             1 2009-01-01
4376             2 2009-01-01
7055             3 2009-01-02
7056             4 2009-01-02
7057             5 2009-01-02

In [18]:
DimOrderDate.to_csv('G:/DataSets/DimDt.csv', index=False)

In [19]:
df2 = pd.read_csv("G:/DataSets/DimDt.csv")

In [20]:
df2.head()

   OrderDateKey  Order Date
0             1  2009-01-01
1             2  2009-01-01
2             3  2009-01-02
3             4  2009-01-02
4             5  2009-01-02